form {
            background-color: rgba(0, 0, 0, 0.1);
            width: fit-content;
            border: 1px solid black;
            border-radius: 30px;
            padding: 10px;
            font-size: 30px;  
        }
        h1, h2, h4, label, input, button {
            color: lightyellow;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
        #bodies{
            border: 1px solid black;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.3);
            width: fit-content;
            text-align: center;
        }
        #complaintText {
            width: 98vw;      
            height: calc(1.2em * 10); 
            resize: none;      
            box-sizing: border-box; 
            padding: 8px;      
            font-size: 16px;   
        }
        body {
            text-align: center;
            background-image: url('StudyFairyBG.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: greenyellow;
        }